[Unit]
Description=LKFW Service
 
[Service]
Type=simple
User=root
Group=root
PIDFile=/tmp/lkfw.pid
ExecStart=/opt/lkfw/lkfw
Restart=no
WorkingDirectory=/opt/lkfw
Nice=0
LimitNOFILE=16384
 
[Install]
WantedBy=multi-user.target
